h1,h2,h3,h5,h6 {
    font-weight: 300;
}
.adobe-stock{
    position: sticky;
    top: 0px;
}
.stock-link{
    position: sticky;
    
}
.stock-link-small{
    margin-left: 18px;
    

}
.stock-img{
    margin: 20px 10px 20px;
   
}